:root {
  --primary-brand-font: "Great Vibes", cursive;
  --primary-brand-size: 90px;
  --secondary-brand-font: "Pacifico", cursive;
  --secondary-brand-size: 36px;
  --text-font: "Roboto", sans-serif;
  --text-size: 14px;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
}
