.hero {
  height: 900px;
  padding-top: 200px;
  background-image: linear-gradient(
      to right,
      rgba(250, 212, 173, 0.5),
      rgba(250, 212, 173, 0.5)
    ),
    url(../images/hero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding-top: 100px;
    height: 620px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 73px;
    padding-top: 100px;
    height: 620px;
  }
}
