.hero {
  height: 830px;
  padding-top: 200px;
  background-image: linear-gradient(
      to right,
      rgba(250, 212, 173, 0.5),
      rgba(250, 212, 173, 0.5)
    ),
    url(../images/hero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    height: 630px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 150px;
    height: 700px;
  }
}
